{
    "openapi": "3.0.0",
    "info": {
        "title": "rootown.io",
        "version": "0.1.0"
    },
    "servers": [
        {
            "url": "https://data.rootown.io"
        }
    ],
    "tags": [
        {
            "name": "maps.uakron.edu"
        },
        {
            "name": "akron.campusdish.com"
        }
    ],
    "paths": {
        "/maps/buildingData.json": {
            "get": {
                "tags": [
                    "maps.uakron.edu"
                ],
                "summary": "Data about buildings",
                "operationId": "getBuildingData",
                "responses": {
                    "200": {
                        "description": "JSON file containing building data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BuildingData"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/maps/departments.json": {
            "get": {
                "tags": [
                    "maps.uakron.edu"
                ],
                "summary": "Data about the departments",
                "operationId": "getDepartments",
                "responses": {
                    "200": {
                        "description": "JSON file containing department data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Department"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/maps/parkingLots.json": {
            "get": {
                "tags": [
                    "maps.uakron.edu"
                ],
                "summary": "Data about on-campus parking lots",
                "operationId": "getParkingLots",
                "responses": {
                    "200": {
                        "description": "JSON file containing data about on-campus parking lots",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ParkingLots"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dining/locations.json": {
            "get": {
                "tags": [
                    "akron.campusdish.com"
                ],
                "summary": "Data about on-campus dining locations",
                "operationId": "getDiningLocations",
                "responses": {
                    "200": {
                        "description": "JSON file containing data about dining locations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DiningLocations"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "BuildingArray": {
                "type": "array",
                "items": {
                    "type": "object",
                    "required": [
                        "id",
                        "name",
                        "address",
                        "lng",
                        "lat"
                    ],
                    "properties": {
                        "id": {
                            "type": "string"
                        },
                        "name": {
                            "type": "string"
                        },
                        "abbreviation": {
                            "type": "string"
                        },
                        "address": {
                            "type": "string"
                        },
                        "lng": {
                            "type": "string"
                        },
                        "lat": {
                            "type": "string"
                        }
                    }
                }
            },
            "BuildingData": {
                "title": "University of Akron Building Data",
                "description": "JSON Schema for Building Data for the University of Akron's data format",
                "type": "object",

                "properties": {
                    "id": {
                        "description": "The Building's ID Number",
                        "type": "integer",
                        "minimum": 1
                    },
                    "name": {
                        "description": "The name of the building",
                        "type": "string"
                    },
                    "abbreviation": {
                        "description": "An abbreviated name, typically a shortening or acronym",
                        "type": "string"
                    }
                },
                "buildingLocation": {
                    "address": {
                        "description": "The physical address of the building",
                        "type": "string"
                    },
                    "lat": {
                        "description":"The latitude position of the building",
                        "type":"number",
                        "minimum":-90,
                        "maximum":90
                    },
                    "lng": {
                        "description":"The longitude position of the building",
                        "type":"number",
                        "minimum":-180,
                        "maximum":180
                    }
                },
                "additionalInfo": {
                    "image_file": {
                        "description":"File extension pointing to an image URL",
                        "type":"string"
                    },
                    "related_lots": {
                        "description":"Array of lot id's listing the lots that are considered associated with the building",
                        "type":"array",
                        "items":"integer"
                    },
                    "building_categories": {
                        "description":"Array of id's listing categories associated with the building",
                        "type":"array",
                        "items":"integer"
                    },
                    "html": {
                        "description":"Any html or markdown associated with the building in the existing json data",
                        "type":"string"
                    }
                },
                "required": ["id", "name"]
            },
            "Categories": {
                "title": "University of Akron Category Data",
                "description": "JSON Schema for Category Data for the University of Akron's data format",
                "type": "object",
            
                "properties": {
                    "id": {
                        "description":"The id number of the category",
                        "type":"integer",
                        "minimum":1
                    },
                    "name": {
                        "description":"The name of the category",
                        "type":"string"
                    },
                    "public": {
                        "description":"Whether or not the category is public",
                        "type":"boolean"
                    }
                },
                "required":["id","name","public"]            
            },
            "DiningLocations": {
                "type": "array",
                "items": {
                    "type": "object",
                    "required": [
                        "name",
                        "status",
                        "times"
                    ],
                    "properties": {
                        "name": {
                            "type": "string"
                        },
                        "status": {
                            "type": "string"
                        },
                        "times": {
                            "type": "string"
                        }
                    }
                }
            },
            "Department": {
                "title": "University of Akron Department Data",
                "description": "JSON Schema for Department Data for the University of Akron's data format",
                "type": "object",
            
                "properties": {
                    "id": {
                        "description": "The department's id number",
                        "type":"integer",
                        "minimum":1
                    },
                    "building_id": {
                        "description": "The id of the building in which the department resides",
                        "type":"integer",
                        "minimum":1
                    },
                    "name": {
                        "description":"The name of the department",
                        "type:":"string"
                    },
                    "department_url": {
                        "description":"A URL pointing to the homepage of the department",
                        "type":"string"
                    },
                    "order": {
                        "description":"I actually do not know",
                        "type":"number"
                    }
                },
                "required":["id", "building_id", "name"]            
            },
            "ParkingLots": {    
                "title": "University of Akron Lot Data",
                "description": "JSON Schema for Parking Lot Data for the University of Akron's data format",
                "type": "object",
                "properties": {
                    "id": {
                        "description":"The id number of the lot in the database",
                        "type":"integer",
                        "minimum":1
                    },
                    "lot_number": {
                        "description":"The official lot Number, generally the same as the ID number but posted on a sign at the lot",
                        "type":"integer",
                        "minimum":1
                    },
                    "public": {
                        "description":"Whether or not the lot is available for public parking",
                        "type":"boolean"
                    },
                    "buildingRelations": {
                        "description":"An array listing the id's of the buildings with which the lot is associated",
                        "type:":"array",
                        "items":"integer"
                    }
                },
                "location": {
                    "address": {
                        "description": "The physical address of the lot",
                        "type": "string"
                    },
                    "lat": {
                        "description":"The latitude position of the lot",
                        "type":"number",
                        "minimum":-90,
                        "maximum":90
                    },
                    "lng": {
                        "description":"The longitude position of the lot",
                        "type":"number",
                        "minimum":-180,
                        "maximum":180
                    }
                },
                "parking_info": {
                    "spaces_total": {
                        "description":"The total number of parking spaces in the parking lot",
                        "type:":"integer",
                        "minimum":1
                    },
                    "accessability_spaces": {
                        "description":"The total number of handicap accessible parking spaces in the lot",
                        "type:":"integer",
                        "minimum":1
                    },
                    "lights": {
                        "description":"Whether or not there are lights at night in the lot",
                        "type:":"boolean"
                    },
                    "surface_info": {
                        "description":"Information about the surface of the parking lot",
                        "type:":"string"
                    }
                },
                "required":["id", "address", "lot_number"]
            }
        }
    }
}
